
header#page-header 
{
	padding: 5px; 
	color: #F0F0F0; 
	background: #008000;
}
aside#sidebar
{
	 float: right;
	 background: #F0F0F0; 
	 width: 200px
}
footer#page-footer
{
	text-align:center ; 
	padding: 5px;
	color: #237CBE; 
	background: #F0F0F0
}